.homePage {
    padding: 11rem;
    text-align: center;
    background-color: rgb(122, 219, 236);
    align-items: center;
    color: white;
}

.homePage h1 {
    font-size: 4rem;
    
}

.homePage p {
    font-size: 2rem;
    margin: 1rem 0;
}

.homePage button {
    padding: 15px;
    border-radius: 4px;
    margin: 1rem;
    width: 20%;
};
