.header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-weight: bold;
  align-items: center;
}

.logo {
  font-size: 2rem;
  padding: 2rem;
}

.nav {
    width: 40%;
}

.nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
}

.nav a {
    text-decoration: none;  
    color: white;
}

.nav li {
    margin: 1.5rem;
}

.signup {
    padding: 15px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border-color: white;

}

.nav a:hover,
.nav a:active,
.nav a.active {
    border-bottom: 2px solid white;
}   